.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 2px dashed #d3d3d3;
    border-radius: 1em;
}

.main {
    padding: 0 2% 2%;
    margin: 2%;
    font-size: 2em;
}

.error {
    outline: 2px solid red;
}

.container h1 {
    margin-top: -.8em;
    background: white;
    padding: 0 1em;
    font-size: 1.5em;
    width: fit-content;
}

.container h1::before {
    content: "";
    -webkit-mask: url(/assets/icon32.png) no-repeat 50% 50%;

    background-size: contain;
    background-color: #007bff;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.container .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5em 0;
}

.container .row .col {
    display: flex;
    align-items: center;
}

.container .row .col:first-child {
    width: 30%;
    justify-content: right;
    margin-right: 1em;
}

.container .row .col:last-child {
    width: 70%;
    justify-content: left;
    margin-left: 1em;
}

.container .row .col-auto {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekdays {
    padding: 0 .5em;
}

.weekdays label {
    font-size: 1em;
    text-transform: capitalize;
    margin-bottom: .5em;
}

.weekdays .row {
    flex-wrap: wrap;
}

.weekdays .row .col-auto {
    margin-right: 1em;
}

.container input:not([type="checkbox"]),
.container select {
    height: 3em;
    padding: 0 .5em;
    font-size: .7em;
    min-width: 12%;
}

.container input[type=checkbox] {
    height: 1.5em;
    width: 1.5em;
    margin: 0;
}

.container .icon-play {
    -webkit-mask: url(/assets/icon-play.svg) no-repeat 50% 50%;
    background-size: contain;
    background-color: #007bff;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.container .icon-play:hover {
    background-color: #0069d9;
}

.container button {
    padding: .5em;
    color: #fff;
    background: #007bff;
    border-color: #007bff;
    border-radius: 2px;
    font-size: 1.2em;
}

.container button:hover {
    background: #0069d9;
    border-color: #0069d9;
}

.container .invisible {
    visibility: hidden;
}

.container #status {
    flex: 0 0 100%;
    text-align: center;
}

#status {
    opacity: 1;
    visibility: visible;
    height: 2em;
}
